{% extends 'base.html' %}

{% block body %}
  <br xmlns="http://www.w3.org/1999/html">
  <br>
  <br>
<div class="container m-4 w-25 p-4 mx-auto">
        <div class="shadows-sm">

              <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
              <!-- Text input -->
              <div class="form-outline mb-4">
                   <label class="form-label" for="name">Upload Resume :</label>
                    <input type="file" id="file" class="form-control" name="file" placeholder="Upload"/>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                <br>
                <label class="form-label" for="name">*Experimental Feature</label>
                </div>
              </form>

              <form method="POST" action="/form">
                {% csrf_token %}
                <!-- Text input -->
                <div class="form-outline mb-4">
                    <textarea type="text" id="name" class="form-control" name="name" placeholder="Enter Your Name" required>{{ name }}</textarea>
                  <label class="form-label" for="name"><strong>Name</strong></label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <textarea type="email" id="email" class="form-control" name="email" placeholder="Enter your email" required >{{ email }}</textarea>
                    <label class="form-label" for="email"><strong>Email</strong></label>
                </div>

                <!-- Number input -->
                <div class="form-outline mb-4">
                    <input type="number" id="phone" class="form-control" name="phone" placeholder="Phone Number" required/>
                    <label class="form-label" for="phone"><strong>Phone</strong></label>
                </div>

               <!-- Experience -->
                <div class="form-outline mb-4">
                  <textarea type="text" id="experience" class="form-control"  name="experience" placeholder="SDE 2 years" required>{{ work_experience }}</textarea>
                    <label class="form-label" for="experience"><strong>Experience</strong></label>
                </div>

               <!-- Education -->
                <div class="form-outline mb-4">
                  <textarea type="text" id="education" class="form-control" name="education" placeholder="BE CSE" required>{{ education }}</textarea>
                    <label class="form-label" for="education"><strong>Education</strong></label>
                </div>

               <!-- Skills -->
                <div class="form-outline mb-4">
                  <textarea type="text" id="skills" class="form-control" name="skills" placeholder="C++,React,Django" required>{{ skills }}</textarea>
                    <label class="form-label" for="skills"><strong>Skills</strong></label>
                </div>

                <!-- LinkedIn -->
                <div class="form-outline mb-4">
                    <textarea type="text" id="linkedin" class="form-control" name="linkedin" placeholder="LinkedIn Profile">{{linkedin}}</textarea>
                    <label class="form-label" for="linkedin"><strong>LinkedIn</strong></label>
                </div>

                <!-- Leetcode -->
                <div class="form-outline mb-4">
                    <textarea type="text" id="leetcode" class="form-control" name="leetcode" placeholder="Leetcode Profile">{{leetcode}}</textarea>
                    <label class="form-label" for="leetcode"><strong>Leetcode</strong></label>
                </div>

                <!-- CodeChef -->
                <div class="form-outline mb-4">
                    <textarea type="text" id="codechef" class="form-control" name="codechef" placeholder="CodeChef Profile">{{codechef}}</textarea>
                    <label class="form-label" for="codechef"><strong>CodeChef</strong></label>
                </div>

                <!-- CodeForces -->
                <div class="form-outline mb-4">
                    <textarea type="text" id="codeforces" class="form-control" name="codeforces" placeholder="CodeForces Profile" >{{codeforces}}</textarea>
                    <label class="form-label" for="codeforces"><strong>CodeForces</strong></label>
                </div>

              <button type="submit" class="btn btn-primary">Generate</button>
            </form>

        </div>
</div>
{% endblock %}